.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
.DS_Store
**/*.php
**/.env
.pnp.*
cache
.idea
build
workspace.code-workspace
generated
secrets
dist
.vscode/
*.sh
!entrypoint.sh
ecosystem.config.js
pnpm-lock.yaml
./false
test/
